.inlinesvg {
  @include hide;
}


.it, span, .cube .side, #s1 .instructions, #s3 .sandbox1 h2, #s6 .sandbox .cube.labels .back:before {
  display: inline-block;
}

.show {
  opacity: 1 !important;
}

.hide {
  opacity: 0 !important;
}

* {
  box-sizing: border-box;
}

html, body{
  margin:0;
  color: #444;
	background-color:#fff;
	font-family: "Cooper Hewitt", "Helvetica", sans-serif;
	font-size:5vw;
  max-width:100vw;
  //overflow-x: hidden;
  @include screen {
    font-size: 1.6rem;
  }
}

/* body.down * {
  transform:rotate(90deg);
  //transform-origin: center center;
}

body.up * {
  transform:rotate(0deg);
} */

ul, li {
  list-style:none;
  margin:0;
  padding:0;
}

ul {
  padding:5vw;
}

//@include scrollbars(0.25rem, $red);

.flip {
  transform:rotate(180deg);
}
