/* .up .a-1, .up .a-3, .up .a-5, .up .a-7, .up .a-9 {
  transform: rotate(0deg);
}

.up .a-2, .up .a-4, .up .a-6, .up .a-8, .up .a-10 {
  transform: rotate(180deg);
} */

.a-1, .a-3, .a-5, .a-7, .a-9 {
  transform: rotate(0deg);
}

.a-2, .a-4, .a-6, .a-8, .a-10 {
  transform: rotate(180deg);
}

.arrows {
  position: absolute;
  pointer-events:none;
  @include screen {
    mix-blend-mode: multiply;
  //  z-index:-1;
  }
  //mix-blend-mode: multiply;
  //z-index:-1;
  div {
    position: relative;
    width: 30vw;
    height: 40vh;
    @include screen {
    width: calc(33.333vw - 0.10rem);
    //height: 33.333vh;
    height: 45vh;
    }
    float: left;
    }
  svg {
      width:40vmin;
      height:40vmin;

    @include tablet {
      width:30vmin;
      height:30vmin;
    }
    @include screen {
      width: 20vmin;
      height: 20vmin;
    }
    fill: $red;
    display: block;
    overflow: visible;
    position: relative;
    //z-index:999;
  }
}

.boxes {
  @include screen {
    overflow:hidden;
  }
  padding:0;
  margin:0;
  margin-bottom:3rem;
  ul {
    padding:0;
  }
  a, .lastminutefix {
    margin:0;
    display:block;
    float: left;
    //width:33.333vw;
    //height:33.333vw;
    padding:4vmin;
    width: 100vw;
    height:100vmin;
      @include screen {
      width:  calc(50vw - 0.10rem);
      height: 50vh;
      }
    //outline:4px solid $red;
    &:hover {
      border:none;
    }
  }
}

.logo a {
  overflow:visible!important;
  //@include hide;
    z-index: 9999;
    padding: 0;
    position: fixed;
       @include screen {
      position: absolute;
    }
    top: 42vh;
    left: 42vw;
    width:15vw;
    height:15vh;
}


.img-block{
  h3 {
    position: absolute;
    left:4vw;
    right:4vw;
  }
  h3.left {
    transform: rotate(-180deg);
    transform-origin: 40% 60%;
    @include screen {
      transform:rotate(-90deg);
      transform-origin:center center;
    }
  }
  h3.bottom {
    @include screen {
      transform:rotate(180deg);
      transform-origin:50% 90%;
    }
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  h3.right {
    transform:rotate(90deg);
    transform-origin: 40% 60%;
    @include screen {
      transform-origin:50% 140%;
    }
  }
  float: none;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
  margin:0;
  padding:0!important;
  //background:#fff;
}

.img{
  width: 100%;
  height: 100%;
  display:block;
	z-index:0;
	visibility: hidden;
}
.img.active{
	visibility: visible;
}
.clear{
  clear: both;
}

.ggggiffy-text {
  font-size:9vw;
	font-weight: normal;
  color: #fff;
    @include screen {
    font-size: 9vw;
    }
}

.item {
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
  display:block;
  background-size: cover!important;
  background-repeat:none;
  img {
    width: 100%;
    height:auto;
  }
  h2 {
    position:absolute;
    top: 25%;
    left:4vw;
    z-index:999;
  }
}

.one {
  //transform: rotate(0deg);
}

.two {
  //transform: rotate(90deg);
}

.three {
  //transform: rotate(180deg);
}


.morphbutton-content a {
  display:inline!important;
  height:initial;
  width:initial;
  padding:0;
  float:none;
}


.logo {
    @include screen {
      position:absolute;
      pointer-events:none;
      top:0;
      left:0;
    }
}

.cube,
.cube .side {
  width: 16vw;
  height:16vw;
  //background: rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 0 0 0.8vw #000;/*  0 0 0px 1px #ff0000; */
  transform-style: preserve-3d;
  background:url('../../symbol/svg/logo-box.svg');
  background-size:90%;
  background-position:50%;
  outline: 1px solid transparent;
}

.cube {
  perspective: 99999px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0em) translateY(0em) translateZ(0em);
}
.cube .side {
  position: absolute;
  top: 0;
  left: 0;
}
.cube .top {
  top: -16vw;
  transform: rotateX(90deg);
  transform-origin: 50% 100%;
}
.cube .left {
  left: -16vw;
  transform: rotateY(-90deg);
  transform-origin: 100% 50%;
}
.cube .right {
  left: 16vw;
  transform: rotateY(90deg);
  transform-origin: 0% 50%;
}
.cube .bottom {
  top:16vw;
  transform: rotateX(-90deg);
  transform-origin: 50% 0%;
}
.cube .bottom .back {
  top: 16vw;
  transform: rotateX(-90deg);
  transform-origin: 50% 0%;
}

.cube {
  transition: none;
  transform: translateY(10vw);
  transform-origin: 50% 50% -10vw;
}
