section {
    //margin-left:17.5vw;
        //display:table-cell;
        //width:50%;
    //top:0;
    //margin-left:-25vw;

}
article{
    /*display:inline-block;*/
    position:relative;
    width:100vmin;
    height:100vh;
    min-height:100vmin;
    margin:auto;
    float:none;
    //border: 0.3rem solid;
    //margin-bottom: -0.3rem;
    //-webkit-column-count:2;

    /* @include landscape {
        transform: rotate(180deg);
        //background: $red;
    }
    @include portrait {
        transform: rotate(360deg);
        //background: blue;
    } */

}

.about {
    //margin-top:100vmin;
    height:100vh;
    //position:static;
}


#people {
    //clear:both;
    float:right;
    @include screen {
        width:calc(50vw - 0.20rem);
    }
    ul {
        //columns:1;
        //font-size:9vw;
        color:$text;
        background:transparent;
        float:none;
/*         @include screen {
    width:calc(50vw - 0.20rem);
} */
        width:100vw;
        height:auto;
        overflow:visible;
        //column-gap:35vw;
        margin:0!important;
        //columns:1;
        //column-gap:35vw;
        font-size:2vw;
        //transform:rotate(180deg);
        //padding:2rem 5vw 0;
        padding:0 5vw 0;
        padding-left:0;
        @include screen {
            &:last-of-type {
                padding-left:0;
                padding-top:0;
            }
        }
    }
}

.names {
    .title {
        column-span: all;
    }
    float:left;
    ul {
        @include screen {
            //columns:2;
            font-size:1.4vw;
            }
        columns:1;
        font-size:9vw;
        //column-gap:35vw;
        margin:0!important;
        //columns:1;
        //column-gap:35vw;
        //font-size:4vw;
        //transform:rotate(180deg);
    }
}

ul.top-right-left-bottom {

        li{
            list-style:none;
            position:absolute;
            width:50vmin;
            height:50vmin;
            padding:5vmin;
        }
        :nth-child(1){
        top:0;
        left:0;
        }
        :nth-child(2){
        transform: rotate(90deg);
        top:0;
        right:0;
        }
        :nth-child(3){
        transform: rotate(-90deg);
        bottom:0;
        left:0;
        }
        :nth-child(4){
        transform: rotate(180deg);
        bottom:0em;
        right:0em;
        }
    }
