@font-face {
    font-family: "Cooper Hewitt";
    src: url(fonts/CooperHewitt-Book.woff);
    font-weight: normal;
}
@font-face {
    font-family: "Cooper Hewitt";
    src: url(fonts/CooperHewitt-Medium.woff);
    font-weight: 500;
}

a{
	color:$text;
	text-decoration:none;
	margin-bottom:0.1rem;
	border-bottom:0.1rem solid transparent;
}

a:hover{
	text-decoration:none;
	border-color:$text;

}

/* default typography presets */


h1{
	font-size: 8vmin;
  font-weight: normal;
}
h2{
		@include screen {
		font-size: 6vmin;
		}
	font-size:16vw;
	font-weight: normal;
	color: #fff;
}

h3{
	@include screen {
	font-size:3vw;
	}
	font-size:9vw;
	font-weight: normal;
}

h4{
	font-size:1.5rem;
	font-weight: normal;
}
h5{
	font-size:1rem;
	font-weight: normal;
}
h6{
	font-size:0.5rem;
	font-weight: normal;
}
